@media(max-width: 1780px) {
   .page1_img {
      width: 700px;
      height: 580px;
   }
}

@media(max-width: 1700px) {
   .container {
      padding: 0 200px;
   }
}

@media(max-width: 1600px) {
   .container {
      padding: 0 150px;
   }
}

@media(max-width: 1550px) {
   .page1_img {
      width: 650px;
      height: 530px;
   }
}

@media(max-width: 1500px) {
   .container {
      padding: 0 100px;
   }
}

@media(max-width: 1420px) {
   .page1_img {
      width: 600px;
      height: 480px;
   }
   .page12_text {
      width: 503px;
   }
}

@media(max-width: 1300px) {
   .text_head {
      font-size: 29px;
   }
   .title {
      font-size: 40px;
   }
   .text {
      font-size: 29px;
   }
   .page1_text {
      width: 450px;
   }
   .page1_title {
      margin: 0 0 40px 0;
   }
   .page1_img {
      width: 530px;
      height: 410px;
   }
   .nav_link {
      font-size: 25px;
   }
   .page12_img {
      width: 402px;
      height: 259px;
   }
   .page12_text {
      width: 450px;
   }
   .footer_title {
      margin: 0 0 30px 0;
   }
}

@media(max-width: 1200px) {
   .page1_text {
      width: 400px;
   }
   .page1_title {
      margin: 0 0 30px 0;
   }
   .page1_img {
      width: 450px;
      height: 360px;
   }
}

@media(max-width: 1100px) {
   .container {
      padding: 0 50px;
   }
   .page12_img {
      width: 390px;
      height: 240px;
   }
   .page12_text {
      width: 400px;
   }
}

@media(max-width: 950px) {
   .text_head {
      font-size: 25px;
   }
   .head2>*:not(:last-child) {
      margin-right: 20px;
   }
   .link_bask img {
      width: 50px;
      transform: translateY(22px);
   }
   .title {
      font-size: 35px;
      line-height: 40px;
   }
   .text {
      font-size: 24px;
      line-height: 40px;
   }
   .page1_text {
      width: 350px;
   }
   .page1_title {
      margin: 0 0 25px 0;
   }
   .page1_img {
      width: 410px;
      height: 310px;
   }
   .nav_link {
      font-size: 20px;
   }
   .page12_img {
      width: 350px;
      height: 200px;
   }
   .page12_text {
      width: 350px;
   }
   .footer_title {
      margin: 0 0 20px 0;
   }
   .footer_link img {
      width: 60px;
   }
   .footer_soc>*:not(:last-child) {
      margin-right: 40px;
   }
}

@media(max-width: 860px) {
   .title {
      line-height: 35px;
   }
   .text {
      line-height: 35px;
   }
   .page1_text {
      width: 300px;
   }
   .page1_img {
      width: 370px;
      height: 270px;
   }
}

@media(max-width: 850px) {
   .text_head {
      font-size: 20px;
   }
   .link_bask img {
      width: 40px;
      transform: translateY(25px);
   }
   .page12_img {
      width: 300px;
      height: 170px;
   }
   .page12_text {
      width: 300px;
   }
}

@media(max-width: 780px) {
   .title {
      font-size: 30px;
      line-height: 30px;
   }
   .text {
      font-size: 19px;
      line-height: 30px;
   }
   .page1_text {
      width: 250px;
   }
   .page1_title {
      margin: 0 0 25px 0;
   }
   .page1_img {
      width: 320px;
      height: 220px;
   }
   .nav_link {
      font-size: 17px;
   }
   .footer_link img {
      width: 40px;
   }
   .footer_soc>*:not(:last-child) {
      margin-right: 20px;
   }
}

@media(max-width: 780px) {
   .page1_img {
      width: 270px;
      height: 170px;
      background-size: contain;
   }
}

@media(max-width: 750px) {
   .page12_img {
      width: 270px;
      height: 150px;
   }
   .page12_text {
      width: 270px;
   }
}

@media(max-width: 700px) {
   .header1 {
      padding: 15px 0;
   }
   .header2 {
      padding: 20px 0;
   }
   .page12_img {
      width: 230px;
      height: 110px;
   }
   .page12_text {
      width: 220px;
   }
}

@media(max-width: 650px) {
   .text_head {
      font-size: 17px;
   }
   .head2>*:not(:last-child) {
      margin-right: 10px;
   }
   .link_bask img {
      width: 30px;
      transform: translateY(32px);
   }
      .title {
         font-size: 25px;
         line-height: 25px;
      }
      .text {
         font-size: 14px;
         line-height: 25px;
      }
      .page1_text {
         width: 200px;
      }
      .page1_title {
         margin: 0 0 23px 0;
      }
      .page1_img {
         width: 270px;
         height: 170px;
         background-size: contain;
      }
      .nav_link {
         font-size: 14px;
      }
      .footer_link img {
         width: 35px;
      }
      .footer_soc>*:not(:last-child) {
         margin-right: 19px;
      }
      .p1 {
         padding: 70px 0 50px 0;
      }
      .p12 {
         background: #232121;
         padding: 70px 0 50px 0;
      }
}

@media(max-width: 600px) {
   .container {
      padding: 0 20px;
   }
}

@media(max-width: 520px) {
   .text_head {
      font-size: 14px;
   }
   .head2>*:not(:last-child) {
      margin-right: 7px;
   }
   .link_bask img {
      width: 25px;
      transform: translateY(35px);
   }
   .title {
      font-size: 23px;
      line-height: 20px;
   }
   .text {
      font-size: 13px;
      line-height: 20px;
   }
   .page1_text {
      width: 180px;
   }
   .page1_img {
      transform: translateX(50px);
   }
   .nav_link {
      font-size: 12px;
   }
   .header1 {
      height: 50px;
   }
   .head {
      transform: translateY(-35px);
   }
   .header2 {
      height: 50px;
   }
   .nav {
      transform: translateY(-20px);
   }
   .page12_img {
      width: 190px;
      height: 90px;
   }
   .page12_text {
      width: 190px;
   }
}

@media(max-width: 480px) {
   .page1_img {
      width: 250px;
      height: 150px;
   }
}

@media(max-width: 450px) {
   .title {
      font-size: 18px;
      line-height: 20px;
   }
   .text {
      font-size: 10px;
      line-height: 20px;
   }
   .page1_text {
      width: 160px;
   }
   .page1_img {
      width: 220px;
      height: 120px;
   }
   .nav_link {
      font-size: 10px;
      letter-spacing: .5px;
   }
   .page12_img {
      width: 160px;
      height: 70px;
   }
   .page12_text {
      width: 170px;
   }
   .footer {
      padding: 20px 0 30px 0;
   }
   .footer_link img {
      width: 25px;
   }
   .footer_soc>*:not(:last-child) {
      margin-right: 17px;
   }
   .footer_title {
      margin: 0 0 15px 0;
   }
}

@media(max-width: 400px) {
   .text_head {
      font-size: 12px;
   }
   .link_bask img {
      width: 20px;
      transform: translateY(37px);
   }
   .page1_text {
      width: 120px;
   }
   .title {
      font-size: 18px;
      line-height: 12px;
   }
   .text {
      font-size: 10px;
      line-height: 12px;
   }
   .page12_img {
      width: 140px;
      height: 60px;
   }
   .page12_text {
      width: 140px;
   }
}

@media(max-width: 350px) {
   .text_head {
      font-size: 10px;
   }
   .head2>*:not(:last-child) {
      margin-right: 5px;
   }
   .link_bask img {
      width: 17px;
      transform: translateY(39px);
   }
   .page1_img {
      width: 200px;
      height: 100px;
   }
   .nav_link {
      font-size: 8px;
      letter-spacing: .5px;
   }
   .page12_img {
      width: 130px;
      height: 50px;
   }
   .page12_text {
      width: 120px;
   }
}

@media(max-width: 320px) {
   .title {
      font-size: 15px;
      line-height: 12px;
   }
   .text {
      font-size: 8px;
      line-height: 12px;
   }
   .page12_img {
      width: 110px;
      height: 40px;
   }
   .page12_text {
      width: 100px;
   }
}

@media(max-width: 300px) {
   .container {
      padding: 0 10px;
   }
   .page1_img {
      transform: translateX(40px);
   }
   .footer_link img {
      width: 20px;
   }
   .footer_soc>*:not(:last-child) {
      margin-right: 15px;
   }
   .footer_title {
      margin: 0 0 12px 0;
   }
}
